<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %><</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% pokemons.forEach(pokemon => { %>
      <li>
        <%= pokemon.pokemon %>
        <a href="/pokemon/<%= pokemon.pokemon %>/rename"
          ><button>rename</button></a
        >

        <form
          action="/pokemon/<%=pokemon.id%>?_method=DELETE"
          method="POST"
          style="display: inline"
        >
          <button type="submit">delete</button>
        </form>
      </li>
      <br />
      <% }) %>
      <a href="/pokemon/create"><button>Create pokemon</button></a>
    </ul>
    <a href="/">Home</a>
  </body>
</html>
